<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SaveEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SaveEdit.Properties.Settings>
            <setting name="Lang" serializeAs="String">
                <value/>
            </setting>
            <setting name="cesta" serializeAs="String">
                <value/>
            </setting>
            <setting name="fNbtString" serializeAs="String">
                <value>0.6.4.0</value>
            </setting>
            <setting name="fNbt" serializeAs="String">
                <value>60400</value>
            </setting>
            <setting name="rozsirujici" serializeAs="String">
                <value>1000000</value>
            </setting>
        </SaveEdit.Properties.Settings>
    </userSettings>
</configuration>
